/* src/index.css */

/* 1. Tailwind 기본 필수 지시어 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. 기본 테마 세팅 (예: '신나는' 테마를 기본값으로 설정) */
:root {
  /* Color-1 */
  --color-1-base: #00cef5;
  --color-1-mid: #9ce7ff;
  --color-1-light: #daf4ff;
  
  /* Color-2 */
  --color-2-base: #60d062;
  --color-2-mid: #9ae29b;
  --color-2-light: #d3f4d4;
  
  /* Color-3 */
  --color-3-base: #ff7580;
  --color-3-mid: #ffc0c3;
  --color-3-light: #ffeced;
  
  /* Color-4 */
  --color-4-base: #f99d3d;
  --color-4-mid: #fbc286;
  --color-4-light: #fde6ce;
  
  /* Color-5 */
  --color-5-base: #ffdd47;
  --color-5-mid: #ffea8e;
  --color-5-light: #fff6d5;
  
  /* Color-6 */
  --color-6-base: #fd73af;
  --color-6-mid: #fea5cd;
  --color-6-light: #ffd7e9;
}

/* 3. 테마 전환용 클래스 (예: 팝아트 테마) */
/* 리액트 최상위 태그인 <html>이나 <body>에 className="theme-popart" 를 주면 전체 색상이 변합니다! */
.theme-popart {
  --color-1-base: #755ecc;
  --color-1-mid: #b3a6e3;
  --color-1-light: #e3dff5;
  
  --color-2-base: #3c4e85;
  --color-2-mid: #949ebc;
  --color-2-light: #d8dce7;
  
  --color-3-base: #f16f55;
  --color-3-mid: #f8b7aa;
  --color-3-light: #fbdbd4;
  
  --color-4-base: #fffe00;
  --color-4-mid: #ffff99;
  --color-4-light: #ffffcc;
  
  --color-5-base: #ff6bb5;
  --color-5-mid: #ffb5da;
  --color-5-light: #ffdaec;
  
  --color-6-base: #75f7fe;
  --color-6-mid: #bafbff;
  --color-6-light: #e8feff;
}

/* 필요하다면 여기에 '.theme-autumn', '.theme-night' 등을 추가해 나갑니다. */